@mixin content-box() {
  @include box-sizing(content-box);
}

@mixin border-box() {
  @include box-sizing(border-box);
}

@mixin padding-start($padding) {
  -webkit-padding-start: $padding;
  -moz-padding-start: $padding;
  -o-padding-start: $padding;
  padding-start: $padding;
}

@mixin padding-end($padding) {
  -webkit-padding-end: $padding;
  -moz-padding-end: $padding;
  -o-padding-end: $padding;
  padding-end: $padding;
}

@mixin margin-before($padding) {
  -webkit-margin-before: $padding;
  -moz-margin-before: $padding;
  -o-margin-before: $padding;
  margin-before: $padding;
}

@mixin margin-after($padding) {
  -webkit-margin-after: $padding;
  -moz-margin-after: $padding;
  -o-margin-after: $padding;
  margin-after: $padding;
}

@mixin margin-start($padding) {
  -webkit-margin-start: $padding;
  -moz-margin-start: $padding;
  -o-margin-start: $padding;
  margin-start: $padding;
}