//////////////////////////////
// Return to Classic Box Model
// http://paulirish.com/2012/box-sizing-border-box-ftw/#comment-111805
//////////////////////////////
%unborderbox {
  @include box-sizing(content-box);
}

%innermenu {
  ul {
    margin-left: -7.5%;
    @include respond-to('small') {
      margin-left: -7.5%;
    }
    @include respond-to('medium') {
      margin-left: -4.5%;
    }
    @include respond-to('large') {
      margin-left: -3.5%;
    }
    @include respond-to('full') {
      margin-left: -2%
    }
  }

  li {
    display: inline-block;
    width: columns(1, 9);
    margin-right: gutter(3);

    &:after {
      color: nth($wh-blue, 2);
      content: attr(title);
      text-align: left;
      width: columns(1, 9);
      font-size: .5em;
      margin-top: -.5em;
      position: absolute;
    }
    a {
      display: block;
      @include hide-text;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 2em 2em;
      height: 2em;
      width: 2em;
    }
  }
}