//////////////////////////////
// Aurora Setup
//////////////////////////////
$sidebars: 1, 'left';
$debug: false;
$body-font-size: 18px;

//////////////////////////////
// Basic Colour Setup
//////////////////////////////
$charcoal: #222222;
$wh-blue: #80cbf1, #289dd0, #1474bb, #1474bb;
$white: #cfcfcf;
$touch-bkg: rgba(0, 0, 0, .15);

//////////////////////////////
// Clock Multiplier
//////////////////////////////
$clock-multiplier: 2;